<ion-header>
  <ion-toolbar>
    <ion-title>Horario Grupo: {{grupoHorario}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <h1>Bienvenido al horario del grupo: {{grupoHorario}}</h1>
</ion-header>

<ion-content>

  <ion-row class="tabla">
    <ion-col class="tabla" *ngFor="let item of horario.cabecera">
      {{item}}
    </ion-col>

  </ion-row>
  <ion-row class="hora" *ngFor="let hora of horario.tramoHorario">
    <!-- Para el movil quitar los dos pre style -->
    <pre style='display:inline'>&#09;</pre>
    <pre style='display:inline'>&#09;</pre>
    {{hora}}
    <ion-col class="tabla" (click)="obtenerNombreCompleto(obtenerAsignaturasConcretas(hora,0))">
      {{obtenerAsignatura(hora)}}
    </ion-col>
    <ion-col class="tabla" (click)="obtenerNombreCompleto(obtenerAsignaturasConcretas(hora,1))">
      {{obtenerAsignatura(hora)}}
    </ion-col>
    <ion-col class="tabla" (click)="obtenerNombreCompleto(obtenerAsignaturasConcretas(hora,2))">
      {{obtenerAsignatura(hora)}}
    </ion-col>
    <ion-col class="tabla" (click)="obtenerNombreCompleto(obtenerAsignaturasConcretas(hora,3))">
      {{obtenerAsignatura(hora)}}
    </ion-col>
    <ion-col class="tabla" (click)="obtenerNombreCompleto(obtenerAsignaturasConcretas(hora,4))">
      {{obtenerAsignatura(hora)}}
    </ion-col>

  </ion-row>
</ion-content>