<ion-header>
  <ion-toolbar>
    <ion-title>Horario Grupo: {{grupoHorario}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <h1>Bienvenido al horario del grupo: {{grupoHorario}}</h1>
</ion-header>

<ion-content>
  <ion-grid *ngIf="horario">
    <ion-row class="cabecera">
      <ion-col class="cabecera" *ngFor="let item of horario.cabecera">
        <div>{{item}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="horario" *ngFor="let hora of horario.tramoHorario">
      <ion-col class="horario" size="2">
        <div>
          <ion-icon name="time-outline"></ion-icon>
          {{hora}}
        </div>
      </ion-col>

      <ion-col class="horario" size="2" (click)="obtenerNombreCompleto(obtenerAsignaturasConcretas(hora,0))">
        {{obtenerAsignatura(hora)}}
      </ion-col>
      <ion-col class="horario" size="2" (click)="obtenerNombreCompleto(obtenerAsignaturasConcretas(hora,1))">
        {{obtenerAsignatura(hora)}}
      </ion-col>
      <ion-col class="horario" size="2" (click)="obtenerNombreCompleto(obtenerAsignaturasConcretas(hora,2))">
        {{obtenerAsignatura(hora)}}
      </ion-col>
      <ion-col class="horario" size="2" (click)="obtenerNombreCompleto(obtenerAsignaturasConcretas(hora,3))">
        {{obtenerAsignatura(hora)}}
      </ion-col>
      <ion-col class="horario" size="2" (click)="obtenerNombreCompleto(obtenerAsignaturasConcretas(hora,4))">
        {{obtenerAsignatura(hora)}}
      </ion-col>
    </ion-row>
    <!-- <ion-row class="maquetadora" *ngFor="let abr of abreviaturas">
        {{abr}}
      </ion-row> -->
  </ion-grid>
</ion-content>