<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-title>
      Estudios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <!-- <div>
    <ion-button (click)="getHorario()">Horario</ion-button>
  </div> -->
  <div>
    <ion-button (click)="getEstudios()">Estudios</ion-button>
  </div>
  <ion-list>
    <ion-list-header>Lista de Estudios:</ion-list-header>
    <ion-item button *ngFor="let estudio of estudios" (click)="pasarEstudio(estudio)">{{estudio.nombre}}</ion-item>
  </ion-list>
</ion-content>